.Rproj.user
.Rhistory
.RData
src/*.o
src/*.so
src/*.dll
jq-1.4.tar.gz
notes.md
src/jq-1.4/autom4te.cache
src/jq-1.4/.deps
src/jq-1.4/.libs
src/jq-1.4/Makefile
src/jq-1.4/*.lo
src/jq-1.4/

## jq sources
src/builtin.c
src/bytecode.c
src/compile.c
src/execute.c
src/jq/
src/jq_test.c
src/jv.c
src/jv_alloc.c
src/jv_aux.c
src/jv_dtoa.c
src/jv_file.c
src/jv_parse.c
src/jv_print.c
src/jv_unicode.c
src/lexer.c
src/locfile.c
src/parser.c
